
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.container-fluid {
  // background:
  // url('https://images.unsplash.com/photo-1450297166380-cabe503887e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c62232978a807ac821c158c9a15b8b79') center center;
  background-image: url('../images/Header.jpg');
  opacity: 0.9;
  -webkit-background-size: cover;
  background-size: cover;
  height: 705px;
  color: #fff;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.main-nav {
  display: inline-block;
  margin: 35px;
  li {
    display: inline-block;
    margin: 5px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.title {
  display: inline-block;
  margin-left: 285px;
  font-size: 35px;
}

.cart-nav {
  float: right;
  margin: 35px;
  margin-right: 50px;
  li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }
}

.s-button {
  margin-top: 519px;
  font-size: 15px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.shop-button {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding: 17px 40px;
  // width: 49.99%;
  margin-left: 562px;
  text-decoration: none;
  color: #fff;
}

.short-story {
  text-align: center;
  background-color: #ebddd6;
  margin-right: 0px;
  padding-bottom: 25px;
  h2 {
  font-size: 36px;
  color: #000;
  }
  p {
    font-size: 18px;
    color: #fff;
    width: 625px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  a {
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }
}

.image-boxes {
  margin-top: 66px;
  img {
  height: 424px;
  width: 655px;
  }
}

.picbox1 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
  }
}

.picbox2 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 6px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
  }
}

.image-boxes2 {
  img {
    height: 424px;
    width: 655px;
  }
}

.picbox3 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 3px solid #fff;
    border-bottom: 6px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    opacity: 0.9;
  }
}

.linds {
  opacity: 0.9;
}

.picbox4 {
  padding-right: 0;
  padding-left: 0;
  img {
    border-top: 3px solid #fff;
    border-bottom: 6px solid #fff;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    opacity: 0.9;
  }
}

.carousel-inner .item img {
  height: 140%;
}

.slide {
  margin-top: 6px;
}

.slide1 {
  height: 400px;

}

.slide2 {
  height: 400px;
}

.slide3 {
  height: 400px;
}

.slide4 {
  height: 400px;
}

.insta-name {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #bbb;
  h2 {
    font-size: 36px;
  }
}

.insta-name {
  a {
    text-decoration: none;
    color: #bbb;
  }
}

.instapics {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 60px;
}

.instagram-images {
  margin-bottom: 20px;
}

.instagram-images2 {
  margin-bottom: 20px;
}

/////// Footer /////////

footer {
  background-color: rgba(205,169,157,.3);
  color: #666;
  padding: 100px 50px;
  a {
    text-decoration: none;
    font-size: 13px;
    color: #aaa;
  }
  li {
    list-style: none;
  }
  h3 {
    font-size: 22px;
    margin: 0;
  }
}

.copyright {
  text-align: center;
}


////////// Sign in page ////////
.background {
  // background: url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=21cf7e2e461fa5c32c6bc99ecd38c754') center center;
  background-color: #eee;
  -webkit-background-size: cover;
  background-size: cover;
}

.logout-button {
  padding: 15px;
  border: 2px solid gray;
  border-radius: 5px;
  float: right;
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.login-forms {
  margin-left: 15%;
  padding-top: 200px;
  height: 550px;
}

.form-control {
  margin-bottom: 5px;
}

.signup {
  display: inline-block;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  // margin-left: 25%;
  width: 450px;
}

.signin {
  display: inline-block;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  // margin-left: 25%;
  width: 450px;
  // float: right;
}

.heading-page {
  margin-right: 0px;
}
//////// Admin Screen page //////
.welcome-title {
  margin-bottom: 100px;
  font-size: 30px;
  margin-left: 88px;
}

.adminscreen {
  height: 150px;
}

.products-button {
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 25%;
}

.orders-button {
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 25%;
}

/////// Create Product Page //////
.createproductspage {
  h3 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
  }
}

.add-button {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.product-forms {
  margin: 0;
}

.add-images {
  height: 85px;
  width: 85px;
}

//////// Add Product Page ////////
.addproductpage{
  margin-bottom: 60px;
  h3 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
  }
  .row {
    margin: 0;
  }
}

.add-button {

}

/////// Gallery Page //////
.side-nav {
  li {
    margin-top: 2px;
    margin-bottom: 5px;
  }
}

.list-names {
  li {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.gallery-row {
  margin-top: 70px;
  margin-bottom: 100px;
}

.gallery-image {

}

.picture-rows {
  padding-left: 50px;
  padding-right: 50px;
  img {
    height: 279px;
    width: 373px;
    border-radius: 5px;
  }
}

#gallery-price {
  float: right;
  margin-top: 8px;
}

h5 {
  display: inline-block;
}

// .pic1-row1 {
//   border: 1px solid black;
//   height: 250px;
//   border-radius: 5px;
// }
//
// .pic2-row1 {
//   border: 1px solid black;
//   height: 250px;
//   border-radius: 5px;
// }
//
// .pic3-row1 {
//   border: 1px solid black;
//   height: 250px;
//   border-radius: 5px;
// }

/////// Detail Page ////////
.detail-row {
  margin-top: 70px;
  margin-bottom: 100px;
}

.detail-img {
  height: 350px;
  width: 400px;
  margin-left: 100px;
  border-radius: 5px;
}

.ring-details {
  h3 {
    margin-left: 0;
    font-size: 43px;
  }
}

.price {
  font-size: 28px;
  color: #555;
}

.ring-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.quantity-input {
  width: 68px;
  margin-bottom: 20px;
}

.size-input {
  width: 42px;
  margin-bottom: 50px;
}

.add-to-cart {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.detail-thumbnail {
  margin-left: 100px;
  margin-top: 12px;
  img {
    margin-right: 6px;
    border-radius: 3px;
  }
}
/////// Our Story Page ///////
.bio-page {
  // background:
  // url('https://images.unsplash.com/photo-1450297085576-21d98821f1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f32a6df98803b0d3d0dc076804a98a4c') center center;
  background-image: url('../images/multiple.jpg');
  background-position: 30% 22%;
  opacity: 0.8;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  color: #fff;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #000;
  }
}

.bio-main-nav {
  display: inline-block;
  margin: 35px;
  li {
    display: inline-block;
    margin: 5px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.about-area {
  margin-left: 15%;
  margin-right: 15%;
  h2 {
    margin-top: 73px;
    margin-bottom: 23px;
  }
  p {
    color: #777;
    font-size: 16px;
  }
}

.about {
  border-bottom: 1px solid #777;
  padding-bottom: 75px;
  padding-top: 25px;
  p {
    font-size: 18px;
  }
}

.emily-area {
  margin-bottom: 135px;
  margin-top: 100px;
  img {
    height: 400px;
    width: 325px;
    margin-left: 15%;
    border-radius: 5px;
  }
}

////// heading page //////
.heading-page {
  height: 100px;
  color: #000;
  text-transform: uppercase;
  background-color: #eee;
  a {
    text-decoration: none;
    color: #000;
  }
}
.heading-main-nav {
  display: inline-block;
  margin: 35px;
  li {
    display: inline-block;
    margin: 5px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.heading-cart-nav {
  float: right;
  margin: 35px;
  margin-right: 50px;
  li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }
}

/////// cart page ///////

.shopping-cart {
  margin-left: 35px;
  margin-right: 35px;
}

h3 {
  font-size: 36px;
}

.thumbnail-images {
  height: 30px;
  width: 30px;
}

.remove {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

///// contact //////
h3 {
  color: #000;
  font-size: 32px;
  margin-left: 40px;
  margin-top: 50px;
}

.contact {
  font-size: 22px;
  color: #777;

  li {
    padding-bottom: 20px;
  }
  i {
    margin-right: 7px;
  }
}

.contact-page {
  // background:
  // url('https://images.unsplash.com/photo-1450297085576-21d98821f1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f32a6df98803b0d3d0dc076804a98a4c') center center;
  background-image: url('../images/contactheader.jpg');
  background-position: 30% 22%;
  opacity: 0.8;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  color: #fff;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #fff;
  }
}

address {
  padding-left: 40px;
}

.contact-image {
  img {
    height: 360px;
    width: 350px;
    border-radius: 5px;
    margin: 25px 0;
    opacity: 0.9;
  }
}

////// return exchange page /////
.return-page {
  background-image: url('../images/return.jpg');
  background-position: 30% 22%;
  opacity: 0.8;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  color: #fff;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.ship-titles {
  text-align: center;
  font-size: 25px;

}

.return-paragraph {
  margin-bottom: 30px;
  p {
    text-align: center;
  }
}
