
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  ul {
    list-style: none;
  }
}

.container-fluid {
  // background: url('https://images.unsplash.com/photo-1438762539682-535757d151ad?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=eb7049f9c6ac4a0a866d775b632cc9fd') center center;
  // background: url('https://images.unsplash.com/photo-1450297085576-21d98821f1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f32a6df98803b0d3d0dc076804a98a4c') center center;
  background:
  url('https://images.unsplash.com/photo-1450297166380-cabe503887e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c62232978a807ac821c158c9a15b8b79') center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 450px;
  color: #fff;
  text-transform: uppercase;
}

.main-nav {
  display: inline-block;
  margin: 35px;
  li {
    display: inline-block;
    margin: 5px;
  }
}

.title {
  display: inline-block;
  margin-left: 285px;
  font-size: 35px;
}

.login-nav {
  float: right;
  margin: 35px;
  margin-right: 50px;
  li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }
}

.s-button {
  margin-top: 270px;
}

.shop-button {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding: 13px 30px;
  // width: 49.99%;
  margin-left: 562px;
  text-decoration: none;
  color: #fff;
}

.ourstory {
  text-align: center;
  margin-left: 25%;
  width: 652px;
}

.image-boxes {
  img {
  height: 424px;
  width: 635px;
  }
}

.image-boxes2 {
  img {
    height: 424px;
    width: 635px;
  }
}

.carousel-inner {
  img {
    height: 400px;
  }
}

.insta-name {
  text-align: center;
}

.instagram-images {
  margin-bottom: 20px;
}

.instagram-images2 {
  margin-bottom: 20px;
}

footer {
  li {
    display: inline-block;
    font-size: 18px;
  }
}

.info-footer {
  // border-right: 1px solid black; work on adding this later
}

.footer-links {
  display: inline-block;
  text-align: center;
}
