
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.container-fluid {
  // background: url('https://images.unsplash.com/photo-1438762539682-535757d151ad?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=eb7049f9c6ac4a0a866d775b632cc9fd') center center;
  // background: url('https://images.unsplash.com/photo-1450297085576-21d98821f1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f32a6df98803b0d3d0dc076804a98a4c') center center;
  background:
  url('https://images.unsplash.com/photo-1450297166380-cabe503887e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c62232978a807ac821c158c9a15b8b79') center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 450px;
  color: #fff;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.main-nav {
  display: inline-block;
  margin: 35px;
  li {
    display: inline-block;
    margin: 5px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.title {
  display: inline-block;
  margin-left: 285px;
  font-size: 35px;
}

.login-nav {
  float: right;
  margin: 35px;
  margin-right: 50px;
  li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }
}

.s-button {
  margin-top: 270px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.shop-button {
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding: 13px 30px;
  // width: 49.99%;
  margin-left: 562px;
  text-decoration: none;
  color: #fff;
}

.ourstory {
  text-align: center;
  margin-left: 25%;
  width: 652px;
}

.image-boxes {
  img {
  height: 424px;
  width: 635px;
  }
}

.image-boxes2 {
  img {
    height: 424px;
    width: 635px;
  }
}

.carousel-inner {
  img {
    height: 400px;
  }
}

.insta-name {
  text-align: center;
}

.instagram-images {
  margin-bottom: 20px;
}

.instagram-images2 {
  margin-bottom: 20px;
}

/////// Footer /////////

footer {
  background-color: #ffeeee;
  a {
    text-decoration: none;
    font-size: 13px;
    color: black;
  }
  li {
    list-style: none;
  }
}


////////// Sign in page ////////
.background {
  background: url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=21cf7e2e461fa5c32c6bc99ecd38c754') center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.logout-button {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  float: right;
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.login-forms {
  margin-left: 15%;
  padding-top: 200px;
  height: 550px;
}

.form-control {
  margin-bottom: 5px;
}

.signup {
  display: inline-block;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  // margin-left: 25%;
  width: 450px;
}

.signin {
  display: inline-block;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  // margin-left: 25%;
  width: 450px;
  // float: right;
}

//////// Admin Screen page //////
.welcome-title {
  margin-bottom: 25px;
  font-size: 30px;
}

.adminscreen {
  height: 150px;
}

.products-button {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.orders-button {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

/////// Create Product Page //////
.createproductspage {
  h3 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
  }
}

.add-button {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.product-forms {
  margin: 0;
}

//////// Add Product Page ////////
.addproductpage{
  margin-bottom: 60px;
  h3 {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 30px;
  }
  .row {
    margin: 0;
  }
}

/////// Gallery Page ///////
.side-nav {
  li {
    margin-top: 2px;
    margin-bottom: 5px;
  }
}

.list-names {
  li {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.pic1-row1 {
  border: 1px solid black;
  height: 250px;
  border-radius: 5px;
}

.pic2-row1 {
  border: 1px solid black;
  height: 250px;
  border-radius: 5px;
}

.pic3-row1 {
  border: 1px solid black;
  height: 250px;
  border-radius: 5px;
}

/////// Detail Page ////////
.detail-img {
  height: 350px;
  width: 400px;
  margin-left: 100px;
  border-radius: 5px;
}
.ring-name {
  font-size: 43px;
}

.price {
  font-size: 28px;
  color: #555;
}

.quantity-input {
  width: 68px;
}

.size-input {
  width: 42px;
}
